extends layout

block content
  h1 About #{locals.title}
  != page.html

  p #{locals.title} would not be possible without our organizers:

  div.container
    div.row
      div.four.columns
        div.organizer
          div.organizer__header
            h4.organizer__name Jason Krol
            p.organizer__twitter
              a(href='https://twitter.com/shorttompkins',target='_blank') @ShortTompkins
      div.four.columns
        div.organizer
          div.organizer__header
            h4.organizer__name Evan DiPietro
            p.organizer__twitter
              a(href='https://twitter.com/evandipietro',target='_blank') @evandipietro
      div.four.columns
        div.organizer
          div.organizer__header
            h4.organizer__name Jim Fitzpatrick
            p.organizer__twitter
              a(href='https://twitter.com/fitzpatrick_j',target='_blank') @fitzpatrick_j
