extends layout

block content
  h1= page.title

  ul.meetup-links
    if page.metadata.slides
      li
        a(href=page.metadata.slides,target='_blank') Slides
    if page.metadata.video
      li
        a(href=page.metadata.video,target='_blank') Video

  != page.html
